.playing {
  color: red;
}
.wrap {
  background-color: #CFFFCF;
  max-width: 90%;
  margin: auto;
}
.keybox {
  display: inline-block;
  height: 4em;
  width: 4em;
  background-color: #ccc;
  margin: 10px 10px;
}